In [1]:
from ADSclass import ADS #import ADS

{'mapService': 'GP', 'UseTUSdata': False, 'UseUserProfileInfo': True, 'AccuracyRadiusGPSMin': 20, 'UserSpeedMax': 1.96, 'DinamicPOISearchRadiusStep': 100, 'GpsSampleSizeMax': 100}
Load model Parameters
Inizialize: DescrActivity,DescrGP2Activity_map,DescrOSM2tus_place_map,DescrLG,DescrGP2TusPlace_map, FreqTUS,TSTable... TABLES

In [2]:
ads=ADS() # instance of ADS

In [3]:
ActivityScore=ads.predict("../json_input/ADS_in.json") # prediction of the stop in ADS_in.json

STOP start & end  2024-02-14 16:32:25 2024-02-14 17:44:47





N points before gps filter: 4261
N points after gps filter: 4169
*** USEFUL POI FOUND *** 21
with radius 100 found 21
*** DINAMIC SEARCH POIS *** 21
ELBOW: Best number of pois is: 8

In [4]:
display(ActivityScore[ ["HETUS", "ActivityScore", "lg", "Descr"]])

   HETUS  ActivityScore  lg                                            Descr
0  3.6.2       0.024347  12     3.6.2 Commercial and administrative services
1  0.3.2       0.011023  14                    0.3.2 Personal care servi ces
2  3.6.1       0.005993  12  3.6.1 Shopping ( including online/ e -shopping)
3  0.2.1       0.005450  09                                     0.2.1 Eating
4  2.1.1       0.002461  06                       2.1.1 Classes and lectures